@import "../../node_modules/@fontsource/nunito-sans/200.css";
@import "../../node_modules/@fontsource/nunito-sans/300.css";
@import "../../node_modules/@fontsource/nunito-sans/400.css";
@import "../../node_modules/@fontsource/nunito-sans/600.css";
@import "../../node_modules/@fontsource/nunito-sans/700.css";
@import "../../node_modules/@fontsource/nunito-sans/900.css";
// @import "../../node_modules/@fontsource/roboto/100.css";
// @import "../../node_modules/@fontsource/roboto/300.css";
// @import "../../node_modules/@fontsource/roboto/400.css";
// @import "../../node_modules/@fontsource/roboto/500.css";
// @import "../../node_modules/@fontsource/roboto/700.css";
// @import "../../node_modules/@fontsource/roboto/900.css";

h1 {
}
h2 {
}
h3 {
	font-size: 1.8rem;
	color: var(--clr-blue-100);
}
h4 {
}
h5 {
	font-size: 1.8rem;
	font-weight: 400;
	&.nav-title {
		color: var(--clr-white-100);
	}
}
h6 {
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--clr-blue-100);
}
p {
}
a {
	text-decoration: none;
}
label {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--clr-blue-100);
}
input {
	font-family: inherit;
	font-size: 1.6rem;
	font-weight: 400;
}
.bi {
	display: flex;
	font-size: 3rem;
}
